/*

font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif ; 
font-family: 'DM Serif Text', serif;    free nahrada georgia bold
font-family: 'Roboto', sans-serif;
*/
 



* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    text-align: left;
 
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 105%;
    min-width: 300px;
    background: #fff;
}

body {
    overflow-x: hidden;
}
.forVideo, .background {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100vw;
    left: 0;
    height: 500px;
    overflow: hidden;
}
video {
    width: 100%;
}
#mainMenu {
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
}
.menu {
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    line-height: 15px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu a {
    color: #fff;
    line-height: 15px;
    display: inline-block;
    padding: 0 0px 0 10px;
    text-decoration: none;
    position: relative;
    text-shadow: 1px 1px #505050;
}
.menu li:after {
    content: " / ";
    margin-left: 10px;
    color: #fff;
}
 .menu a:hover{
     text-decoration: underline;
 }

#mainMenu {
    float: right;
}

#mainMenu li {
    display: inline-block;
    padding: 0 1px;
    height: 50px;
    line-height: 50px;
}
.over {
    background: #000;
    opacity: 0.3;
    position: absolute;
    height: 515px;
    z-index: 100;
    width: 100%;
}
h1 {
    position: absolute;
    text-align: center;
    top: 180px;
    color: #fff;
    font-size: 66px;
    line-height: 80px;
    overflow-wrap:break-word;
font-size:66.88px;
font-style:normal;
font-weight:300;
height:auto;
letter-spacing:-2px;
line-break:auto;
z-index: 1000;
width: 100%;
margin: 0;
padding: 0;
text-shadow: 1px 1px #505050;
}
.inBanner {
    position: absolute;
    text-align: center;
    top: 260px;
    color: #fff;
    font-size:23px;
    line-height: 34px;
    overflow-wrap:break-word;
    text-shadow: 1px 1px #505050;
font-style:normal;
font-weight:300;
height:auto;
 
line-break:auto;
z-index: 1000;
width: 100%;   
}
#main {
    margin-top: 515px;
}
#webtitle {
    box-sizing:border-box;
color:rgb(119, 169, 202);
display:inline-block;
font-family:  Arial, sans-serif;
font-size:35.7px;
font-style:normal;
font-weight:500;
height:44px;
line-break:auto;
line-height:44.2002px;
text-align:left;
text-size-adjust:100%;
 
-webkit-font-smoothing:antialiased;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
position: absolute;
left: 20px;
top: 20px;
z-index: 1000;
text-shadow: 1px 1px #505050;
}
footer {
    height: 116px;
    background: #D7CCC8;
    color: #000;
    font-size: 14px;
    padding-top: 50px;
    text-align: center;
    margin-top: calc(100vh - 515px - 116px);
}

h2 {
    background: url('/images/logo3.jpg') left center no-repeat; 
    background-size: 55px;
    line-height: 55px;
    font-weight: normal;
    padding-left: 65px;
}
section {
    width:  100% ;
    padding: 0 calc((100vw - 1000px)/2);
    text-align: left;
}